{% extends 'base.html' %} {% block content %}
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <div class="row">
      <h1 class="display-4">Install Store</h1>
      <p class="lead">Connect your Shopify store to start using our app.</p>
      <hr class="my-4" />
      <div class="col-md-6 offset-md-3">
        <form
          action="{% url 'authenticate_shopify' %}"
          method="post"
          class="p-4 bg-white rounded shadow-sm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="shop" class="form-label">Shopify Store</label>
            <input
              type="text"
              name="shop"
              id="shop"
              class="form-control"
              placeholder="your-shop-name.myshopify.com"
              required />
          </div>
          <button type="submit" class="btn btn-dark btn-lg">
            <i class="fas fa-plug"></i> Install
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
