{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h2 class="display-5">{{ product.ae_item_base_info_dto.subject }}</h2>
    <p class="lead">
      Complete details of the product and its variations.
    </p>
    <hr class="my-4" />

    <div class="row">
      <!-- Carrossel de Imagens e Descrição no Lado Esquerdo -->
      <div class="col-md-6">
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for image_url in product.image_urls %}
            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
              class="{% if forloop.first %}active{% endif %}" aria-current="true"
              aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for image_url in product.image_urls %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image_url }}" class="d-block w-100 img-fluid" alt="Imagem do Produto">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Lista de Cards com Imagens -->
        <div class="row mt-3">
          {% for image_url in product.image_urls %}
          <div class="col-3 mb-3">
            <div class="card" style="cursor: pointer;" data-bs-target="#productCarousel"
              data-bs-slide-to="{{ forloop.counter0 }}">
              <img src="{{ image_url }}" class="card-img-top" alt="Imagem do Produto"
                style="height: 100px; object-fit: cover;">
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Descrição do Produto abaixo dos Cards -->
        <div class="mt-4 bg-white p-4 rounded shadow-sm">
          <h2 class="h4">Descrição do Produto</h2>
          <div class="product-description">
            {{ product.ae_item_base_info_dto.detail|safe }}
          </div>
        </div>
      </div>

      <!-- Informações Básicas e de Envio no Lado Direito -->
      <div class="col-md-6">
        <h2 class="h4">Informações Básicas</h2>
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <strong>ID do Produto:</strong> {{ product.ae_item_base_info_dto.product_id }}
          </li>
          <li class="list-group-item">
            <strong>Categoria:</strong> {{ product.ae_item_base_info_dto.category_id }}
          </li>
          <li class="list-group-item">
            <strong>Status:</strong> {{ product.ae_item_base_info_dto.product_status_type }}
          </li>
          <li class="list-group-item">
            <strong>Avaliações:</strong> {{ product.ae_item_base_info_dto.evaluation_count }} (Média:
            {{product.ae_item_base_info_dto.avg_evaluation_rating }})
          </li>
          <li class="list-group-item">
            <strong>Vendas:</strong> {{ product.ae_item_base_info_dto.sales_count }}
          </li>
        </ul>

        <h2 class="h4">Informações de Envio</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>País de Envio:</strong> {{ product.logistics_info_dto.ship_to_country }}
          </li>
          <li class="list-group-item">
            <strong>Tempo de Entrega:</strong> {{ product.logistics_info_dto.delivery_time }} dias
          </li>
          <li class="list-group-item">
            <strong>Peso Bruto:</strong> {{ product.package_info_dto.gross_weight }} kg
          </li>
          <li class="list-group-item">
            <strong>Dimensões:</strong> {{ product.package_info_dto.package_length }}cm (C) x
            {{product.package_info_dto.package_width }}cm (L) x {{ product.package_info_dto.package_height }}cm (A)
          </li>
        </ul>

        <!-- Variações do Produto (SKUs) -->
        <br>
        <h2 class="h4">Variações do Produto</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-white">
              <tr>
                <th>Imagem</th>
                <th>Tipo</th>
                <th>Estilo</th>
                <th>Preço (BRL)</th>
                <th>Estoque</th>
                <th>SKU</th>
              </tr>
            </thead>
            <tbody>
              {% for sku in product.ae_item_sku_info_dtos.ae_item_sku_info_d_t_o %}
              <tr>
                <td>
                  {% for prop in sku.ae_sku_property_dtos.ae_sku_property_d_t_o %}
                  <img src="{{ prop.sku_image }}" class="img-thumbnail" style="width: 60px; height: 60px" />
                  {% endfor %}
                </td>
                <td>
                  {% for prop in sku.ae_sku_property_dtos.ae_sku_property_d_t_o %}
                  {{ prop.property_value_definition_name }}
                  {% endfor %}
                </td>
                <td>
                  {% for prop in sku.ae_sku_property_dtos.ae_sku_property_d_t_o %}
                  {{ prop.sku_property_value }}
                  {% endfor %}
                </td>
                <td>{{ sku.offer_sale_price }}</td>
                <td>{{ sku.sku_available_stock }}</td>
                <td>{{sku.sku_code}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Informações da Loja -->
        <h2 class="h4">Avaliações da Loja</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Nome da Loja:</strong> {{ product.ae_store_info.store_name }}
          </li>
          <li class="list-group-item">
            <strong>Velocidade de Envio:</strong> {{ product.ae_store_info.shipping_speed_rating }}
          </li>
          <li class="list-group-item">
            <strong>Comunicação:</strong> {{ product.ae_store_info.communication_rating }}
          </li>
          <li class="list-group-item">
            <strong>Descrição do Produto:</strong> {{ product.ae_store_info.item_as_described_rating }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}