<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Dropfy</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <div class="dropdown me-3">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'shopify_dashboard' %}">Stores</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none dropdown-toggle" href="#" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Aliexpress
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'authorization_aliexpress' %}">Connect</a></li>
                    <li><a class="dropdown-item" href="{% url 'feedname_aliexpress' %}">Feedname</a></li>
                </ul>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a>
            </div>
            
        </nav>
    </div>
</header>