<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand me-5" href="">Drop APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard_aliexpress' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAliexpress" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Aliexpress
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAliexpress">
                        <li>
                            <a class="dropdown-item" href="{% url 'authorization_aliexpress' %}">Connect</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'feedname_aliexpress' %}">Feedname</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'text_search_aliexpress' %}">Text Search</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'aliexpress_image_search' %}">Image Search</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAliexpress" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Shopify
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAliexpress">
                        <li>
                            <a class="dropdown-item" href="{% url 'install_shopify' %}">Install</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dashboard_shopify' %}">Stores</a>
                        </li>
                    </ul>
                </li>
                <!-- Adicione mais links aqui -->
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Cadastrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>